# Python cache
__pycache__/
*.pyc

# virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Ignore generated outputs
output/
data/incidents.db

# VSCode settings
.vscode/

# Databases
*.db

# Logs
*.log

# jupyter
.ipynb_checkpoints/